<ul class="header">
  <li class="clickable field wide-field" ng-click="$ctrl.setOrderProp('title')">
    Title
    <span ng-show="$ctrl.orderProp == 'title' || $ctrl.orderProp == '-title'">
      {{$ctrl.arrow}}
    </span>
  </li>
  <li class="clickable field" ng-click="$ctrl.setOrderProp('authorLastName')">
    Author<span
      ng-show="$ctrl.orderProp == 'authorLastName' || $ctrl.orderProp == '-authorLastName'"
    >
      {{$ctrl.arrow}}</span
    >
  </li>
  <li class="clickable field" ng-click="$ctrl.setOrderProp('finished')">
    Date Finished<span
      ng-show="$ctrl.orderProp == 'finished' || $ctrl.orderProp == '-finished'"
    >
      {{$ctrl.arrow}}</span
    >
  </li>
  <li class="clickable field" ng-click="$ctrl.setOrderProp('type')">
    Type<span ng-show="$ctrl.orderProp == 'type' || $ctrl.orderProp == '-type'">
      {{$ctrl.arrow}}</span
    >
  </li>
  <li class="clickable field" ng-click="$ctrl.setOrderProp('pages')">
    Pages<span
      ng-show="$ctrl.orderProp == 'pages' || $ctrl.orderProp == '-pages'"
    >
      {{$ctrl.arrow}}</span
    >
  </li>
</ul>
<ul class="books">
  <li ng-repeat="book in $ctrl.books | orderBy:$ctrl.orderProp" class="book">
    <div class="field wide-field">{{book.title}}</div>
    <div class="field">
      <span>{{book.authorFirstName}}</span> <span>{{book.authorLastName}}</span>
    </div>
    <div class="field">{{book.finished | date}}</div>
    <div class="field">{{book.type}}</div>
    <div class="field">{{book.pages}}</div>
  </li>
</ul>
