@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 0.9em;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 900px;
}

.header,
.books {
  list-style: none;
}

.header,
.books li {
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  padding: 3em 1em;
}

.header li {
  font-weight: bold;
}

.field {
  padding: 0 1em;
}

.title-column {
  width: 20em;
}

.author-column {
  width: 10em;
}

.date-column {
  width: 9em;
}

.type-column {
  width: 6em;
}

.pages-column {
  width: 4em;
}

.clickable {
  cursor: pointer;
}

.arrow {
  font-size: 0.7em;
}
